:root{
    --color: black;
    --bgcolor: gray;
}
body{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
nav{
    display: sticky;
    color: white;
    background-color: black;
    padding: 10px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
main{
    padding: 10px 60px;
    display: grid;
    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
}
@media (max-width: 768px){
    main{
        grid-template-columns: 100%;
    }
}
main > div{
    color: var(--color);
    background-color: var(--bgcolor);
    position: relative;
    padding: 15px;
    margin: 5px;
    border-radius: 15px;
    height: 150px;
    border: 5px solid black;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}
main > div > h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    transition: .5s;
}
main > div > span{
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    padding: 5px 25px;
    height: 120px;
    width: calc(100% - 50px);
    transition: .5s;
    line-height: 0px;
}
main > div:hover > h1{
    top: 5px;
    left: 15px;
    font-size: 30px;
    transform: translate(0, 0);
}
main > div:hover > span{
    top: 45px;
    line-height: 20px;
}